[Unit]
Description=My Node Server 
After=multi-user.target

[Service]
ExecStart="/user/bin/node /home/ec2-user/griphhy-tracker-private/server.js"
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-node-server
User=ec2-user
EnvironmentFile=/home/ec2-user//app.env

[Install]
WantedBy=multi-user.target
